{% extends 'base.html' %}
{% load static %}

{% block title %}
    MP3 from YouTube | Download your audio
{% endblock %}

{% block subcontent %}

    <section class="intro-section spad-down">
		<div class="container">
			<div class="section-title">
				<h3>Now you can download your audio:</h3>
                <p><a href="{{ conversion.audio_file.url }}" download="">{{ conversion.title }}</a></p>
                <p>This link expired on: {{ conversion.expiration_time }}</p>
			</div>
        </div>
    </section>

{% endblock %}

