{%  extends 'base.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block form %}

<!-- Form Section -->
<section class="hero-section set-bg" data-setbg="{% static 'img/hero-bg.jpg' %}">
    <div class="container">
        <div class="hero-warp">
            <form class="main-search-form" method="POST">
                {% csrf_token %}
                <div class="search-type">
                     </div>
                <div class="search-input">
                    {{ form.user_email }}
                    {{ form.input_code }}
                    <button class="site-btn" type="submit">Confirm</button>
                </div>
                <p>{{ form.non_field_errors }}</p>
                <p>We sent the confirmation code to a specified email address. Please, enter it to confirm it was you.</p>

            </form>
        </div>
    </div>
</section>
<!-- Form Section end -->

{% endblock %}