{%  extends 'base.html' %}
{% load static %}

{% block title %}
    MP3 from YouTube | Add email to silent list
{% endblock %}

{% block form %}

<!-- Form Section -->
<section class="hero-section set-bg" data-setbg="{% static 'img/hero-bg.jpg' %}">
    <div class="container">
        <div class="hero-warp">
            <form class="main-search-form" method="POST">
                {% csrf_token %}
                <div class="search-type">
                     </div>
                <div class="search-input">
                    {{ form.user_email }}
                    <button class="site-btn">Push</button>
                </div>
                <p>{{ form.non_field_errors }}</p>
                <p>If you don't want to receive our emails, you can add your email address to the silent list. Pay attention that after this, you will not be able to use this email address to convert YouTube videos to mp3 files. </p>
            </form>
        </div>
    </div>
</section>
<!-- Hero Section end -->

{% endblock %}