{% load static %}

<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>{% block title %} {% endblock %}</title>
    	<meta charset="UTF-8">
	<meta name="description" content="{% block description %} {% endblock %}">
	<meta name="keywords" content="{% block keywords %} {% endblock %}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
	<link href="{% static 'img/favicon.ico' %}" rel="shortcut icon"/>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900%7cRoboto:400,400i,500,500i,700,700i&display=swap" rel="stylesheet">


	<!-- Stylesheets -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}"/>

	<!-- Main Stylesheets -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}"/>

</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header Section -->
	<header
            {% if form %}
                class="header-section"
            {% else %}
                class="header-section-mini"
            {% endif %}>
		<div class=""><a href="{% url 'index' %}" class="site-logo">
			<img src="{% static 'img/logo.png' %}" alt="">
		</a>
        </div>
        <div class="d-none d-sm-block"><p class="site-description text-white" style="font-size: 36px">Easy get mp3 from YouTube</p>
            </div>
        <div class="d-sm-none"><p class="site-description text-white" style="font-size: 18px">Get mp3 from YouTube</p>
            </div>
		<nav class="header-nav">
			<ul class="main-menu">
				<!-- <li><a href="{% url 'index' %}">Home</a></li>
				<li><a href="{% url 'about-us' %}">About</a></li>
				<li><a href="{% url 'faq' %}">F.A.Q.</a></li> -->
            </ul>
		</nav>
	</header>
	<!-- Header Section end -->
    <main>
    {% block form %}
    {% endblock %}
    
    {% block main_content %}
    {% endblock %}

    {% block subcontent %}
    {% endblock %}
    </main>

    	<!-- Footer Section -->
	<footer class="footer-section">
		<div class="container">
			<div class="row text-white">
				<!-- <div class="col-lg-2 col-md-3 col-sm-6">
					<div class="footer-widger">
						<ul>
							<li><a href="{% url 'about-us' %}">About us</a></li>
                        </ul>
					</div>
				</div> -->
				<div class="col-lg-2 col-md-3 col-sm-6">
					<div class="footer-widger">
						<ul>
							<li><a href="{% url 'privacy' %}">Privacy Policy</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2 col-md-3 col-sm-6">
					<div class="footer-widger">
						<ul>
							<li><a href="#">GitHub</a></li>
						</ul>
					</div>
				</div>
				<!-- <div class="col-lg-2 col-md-3 col-sm-6">
					<div class="footer-widger">
						<ul>
							<li><a href="{% url 'faq' %}">F.A.Q.</a></li>
						</ul>
					</div>
				</div> -->
                <div class="col-lg-2 col-md-3 col-sm-6">
					<div class="footer-widger">
						<ul>
							<li><a href="mailto:mp3.from.ytb@gmail.com">mp3.from.ytb@gmail.com</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer Section end -->

	<!--====== Javascripts & Jquery ======-->
	<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
	<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>

</body>
</html>