{% extends 'base.html' %}

{% block title %}
    YouTube MP3 converter | Privacy Policy
{% endblock %}

{% block main_content %}
     <section class="intro-section spad-down">
		<div class="container">
			<div class="row intro-first">
				<div class="col-lg-12">
					<div class="about-text">
                        <h1>Privacy Policy</h1>
                        <p >This document describes how we treat personal information related to your use of this website and the services offered on and through it (the &bdquo;Service&rdquo;), including information you provide when using it.</p>
<p>We expressly and strictly limit use of the Service to adults over 18 years of age or the age of majority in the individual's jurisdiction, whichever is greater. Anyone under this age is strictly forbidden from using the Service. We do not knowingly seek or collect any personal information or data from persons who have not attained this age.</p>
<p><b>Data Collected</b> <br /><i>Using the Service.</i> When you access the Service, use the search function, convert files or download files, your IP address, country of origin and other non-personal information about your computer or device (such as web requests, browser type, browser language, referring URL, operating system and date and time of requests) may be recorded for log file information, aggregated traffic information and in the event that there is any misappropriation of information and/or content.</p>
<p><i>Usage Information.</i> We may record information about your usage of the Service such as your search terms, the content you access and download and other statistics.</p>
<p><i>Uploaded Content.</i> Any content that you upload, access or transmit through the Service may be collected by us.</p>
<p><i>Correspondences.</i> We may keep a record of any correspondence between you and us.</p>
<p><i>Cookies.</i> When you use the Service, we may send cookies to your computer to uniquely identify your browser session. We may use both session cookies and persistent cookies.</p>
<p><b>Data Usage</b> <br />We may use your information to provide you with certain features and to create a personalized experience on the Service. We may also use that information to operate, maintain and improve features and functionality of the Service.</p>
<p>We use cookies, web beacons and other information to store information so that you will not have to re-enter it on future visits, provide personalized content and information, monitor the effectiveness of the Service and monitor aggregate metrics such as the number of visitors and page views (including for use in monitoring visitors from affiliates). They may also be used to provide targeted advertising based on your country of origin and other personal information.</p>
<p>We may aggregate your personal information with personal information of other members and users, and disclose such information to advertisers and other third-parties for marketing and promotional purposes.</p>
<p>We may use your information to run promotions, contests, surveys and other features and events.</p>
<p><b>Disclosures of Information</b> <br />We may be required to release certain data to comply with legal obligations. We may also release certain data to protect the rights, property or safety of us, our users and others. This includes providing information to other companies or organizations like the police or governmental authorities for the purposes of protection against or prosecution of any illegal activity.</p>
<p>If you upload, access or transmit any illegal or unauthorized material to or through the Service, or you are suspected of doing such, we may forward all available information to relevant authorities, including respective copyright owners, without any notice to you.</p>
<p><b>Miscellaneous</b> <br />While we use commercially reasonable physical, managerial and technical safeguards to secure your information, the transmission of information via the Internet is not completely secure and we cannot ensure or warrant the security of any information or content you transmit to us. Any information or content you transmit to us is done at your own risk.</p>
                    </div>
                </div>
            </div>
        </div>
     </section>

{% endblock %}